<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgYqQkArx7HEXVU1DvifGeJhcifauKP2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>378532212993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomeproject</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-app-8a494</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-app-8a494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378532212993:ios:521039ed86a79be6792b00</string>
</dict>
</plist>